@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    font-family: 'Roboto';
    background: linear-gradient(90deg, rgba(52, 146, 255,1) 0%, rgba(52, 146, 255,1) 50%);
}

.inner-row{
    height: 100vh;
}

.primaryBg{
    background: rgba(52, 146, 255, 1);
}

.primaryColor{color:rgba(52, 146, 255,1);}

.form-box{
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}

.registration-form{display:none;}
